.pricipal {
    border: 1px solid black;
    padding: 0;
}

.presentacion {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
    padding: 0;
    background-color: #F6F6F6;
}

.firstLine {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}

.logo {
    background-image: url(../../assets/logo.jpeg);
    height: 100px;
    width: 227px;
    margin: auto;
    position: relative;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}

.secondLine {
    width: 100%;
    height: auto;
    margin: 0;
}

.country p {
    text-align: center;
}

.moneda {
    /* border: 1px solid black; */
    text-align: center;
}

.slogan {
    width: 227px;
    height: auto;
    border: 5px solid white;
    margin: auto;
}

.slogan p {
    text-align: center;
    height: auto;
}

.imge {
    height: auto;
    /* border: 1px solid black; */
    padding: 20;
}

.buyShop {
    background-image: url(../../assets/buyCar.jpeg);
    height: 49px;
    width: 100px;
    background-repeat: no-repeat;
    float: right;
}

.bannerPublicidad {
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 0;
}

.rectangulo {
    width: 100%;
    height: 200px;
    background-image: url(../../assets/img2.jpg);
    background-size: cover;
    top: 10px;
    margin-bottom: 10px;
    float: right;
}

.rectanguloPublicity {
    width: 100%;
    height: 100px;
    top: 50px;
    position: relative;
    margin-left: 0px;
    background-color: white;
    opacity: 0.5;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-image: url(../../assets/img5.JPG);
    background-size: cover;
    bottom: 380px;
    position: relative;
    border: 10px solid white;
}

.circle:hover {
    width: 400px;
    height: 400px;
    border-radius: 500px;
    background-size: cover;
}
