.principal {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}

#logo {
    width: 300px;
    height: 100px;
    margin: auto;
    background-image: url(../../assets/logo.jpeg);
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}

.slogan {
    width: 800px;
    /* border: 1px solid black; */
}

.slogan p {
    text-align: center;
    /* border: 1px solid black; */
}

.car {
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    /* justify-content: flex-start; */
    /* justify-content: center; */
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

#buyCar {
    width: 48px;
    height: 48px;
    background-image: url(../../assets/buyCar.jpeg);
}


/* .image{
  width: 250px;
  height: 200px;
}
.Menu > li {
    width: 150px;
    height: 40px;
    overflow: hidden;
    border: 1px solid black;

}
.Menu > li a {
    width: 100px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 10px;

} */