/* .image{
  width: 250px;
  height: 200px;
}
.Menu > li {
    width: 150px;
    height: 40px;
    overflow: hidden;
    border: 1px solid black;

}
.Menu > li a {
    width: 100px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 10px;

} */
