<!-- daniel este espacio es tuyo vale -->
<div class="principal">
    <div id="logo"></div>
    <div class="row">
        <div>
            <p class="pl-5">COL</p>
        </div>
        <div class="logo">
            <p class="pl-5">Pesos colombianos</p>
        </div>
        <div class="slogan">
            <p>Las mejores marcas en <b>tu</b>ii<b>k</b></p>
        </div>
        <div class="car">
            <div id="buyCar"></div>
        </div>
    </div>
</div>










<!-- daniel este espacio es tuyo vale -->







<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->


<!-- <div class="section">
  <div class="col-lg-12">
     <ul class="Menu">
          <li><a href="#">HOGAR</a></li>
          <li><a href="#">CATEGORIAS</a>
            <ul class="Menu1">
              <li><a href="#">COMPUTACION</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
              <li><a href="#">REDES</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
              <li><a href="#">ALMACENAMIENTO</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
              <li><a href="#">SEGURIDAD</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
              <li><a href="#">ACCESORIOS</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
            </ul>
          </li>
          <li><a href="#">TIENDA</a>
            <ul class="Menu1">
              <li><a href="#">ELECTRODOMESTICOS</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
              <li><a href="#">TELEFONOS</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
              <li><a href="#">CAMARAS</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
              <li><a href="#">AUDIO VIDEO</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
              <li><a href="#">OTROS</a><img src="../../assets/img1.JPG" class="image" ><p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ut quasi, earum perspiciatist!</p></li>
            </ul>
          </li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">SOBRE NOSOTROS</a></li>
          <li><a href="#">CONTACTENOS</a></li>
          <li><a href="#">LISTA DE DESEOS</a></li>

     </ul>
  </div>
</div> -->